.stButton > button{
    background: #ffffff; /* Muda a cor de fundo para branco quando o mouse passa sobre o botão */
    cursor: pointer; 
    color: #1b1919;  /* Muda a cor do texto para #724949 quando o mouse passa sobre o botão */
    border: 2px solid #000000;  /* Adiciona uma borda branca de 2px */
    font-family: Arial, sans-serif;  /* Altera a fonte para Arial */
}
[data-testid="stTableStyledTable"] {
width: 100%; 
font-family: 'Segoe UI Light'; 
font-size: 16px; 
border: solid 1px #9b58b5; 
border-collapse: collapse; 
padding: 7px 3px; text-align: center; 
background-color: #a963c6;
color: #ffffff;
font-size: 16px; 
}